.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}
.conversationWidget {
  word-break: break-word;
  padding: 0 1.5vw;
  width: 12%;
  display: flex;
  flex-direction: column;
}
.loading {
  margin: auto;
  font-size: large;
  font-weight: bold;
}
.conversationWidget h2 {
  word-break: normal;
}
.conversationWidget:after {
  margin-left: 1%;
  margin-right: 1%;
  content: "";
  background-color: royalblue;
  position: absolute;
  width: 3px;
  top: 2vh;
  height: 96vh;
  left: 15%;
  display: block;
}
.conversationWidget ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.conversationWidget ul li {
  border-top: 1px solid royalblue;
  border-bottom: 1px solid royalblue;
}
.pdfDate {
  font-size: 1.2vh;
}
.conversationWidget ul li.Selected {
  border: 1px solid royalblue;
}
.createConversation {
  margin-top: 20%;
}
.createConversationButton {
  max-width: 100%;
  min-width: 60px;
  font-size: small;
  word-wrap: break-word;
}
.dialogButton {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
.headline {
  font-size: x-large;
  font-weight: bold;
}
.chat {
  margin-left: auto;
  margin-right: auto;
  padding: 2% 0px;
  max-width: 80%;
  min-height: 1%;
}
.queries-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 80%;
}
.queries {
  height: 90%;
  width: 50%;
  margin: 3% auto;
  overflow-x: scroll;
  overflow-y: auto;
}
.questionLabel {
  width: 26%;
  align-self: center;
}
.questionField {
  width: 100%;
  align-self: center;
}
.questionButton {
  align-self: center;
}
.questionForm {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.questionForm input[type="text" i] {
  padding-block: 0px;
  padding-inline: 0px;
}
.queries::-webkit-scrollbar {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0px;
}

div.chat ul li:not(:last-child) {
  border-bottom: 1px solid royalblue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button.dialogButton:hover {
  border-color: red;
  color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
