.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}
.conversationWidget {
  padding: 2% 0px;
  width: 25%;
  border-right: 2px solid royalblue;
  display: flex;
  flex-direction: column;
}
.Selected {
  border: 1px solid black;
}
.createConversation {
  margin-top: auto;
}
.dialogButton {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
.chat {
  padding: 2% 0px;
  width: 55%;
}
.queries::-webkit-scrollbar {
  display: none;
}

.queries {
  height: 65%;
  width: 100%;
  margin: 3% 0px;
  overflow-x: scroll;
  overflow-y: auto;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0px;
}

div.chat ul li:not(:last-child) {
  border-bottom: 1px solid royalblue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button.dialogButton:hover {
  border-color: red;
  color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
