<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AskDoc</title>
    {% load static %}

    <link
      rel="stylesheet"
      crossorigin
      href="{% static '/assets/index-oh1OLMix.css' %}"
    />
    {% csrf_token %}
  </head>
  <body>
    <div id="root"></div>
    <script
      type="module"
      crossorigin
      src="{% static '/assets/index-53KPP4vG.js' %}"
    ></script>
  </body>
</html>
